<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body id="date_body">
    <div>
       <header>
        <h1>Availability of hotel</h1>
    </header>
    </div>
    <div id="form">
        <form action="#" method="post">
            <label for="Month">Pick Start Month:</label>
            <input type="text" id="Month" name="fname"><br><br>

            <label for="date">Pick Start Date:</label>
            <input type="number" min="1" max="30"><br><br>

            <label for="Month">Pick End Month:</label>
            <input type="text" id="Month" name="fname"><br><br>

            <label for="date">Pick End Date:</label>
            <input type="number" min="1" max="30"><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>


</body>
</html>